body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-forms {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.auth-forms h2 {
    margin-top: 0;
}

.auth-forms input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.auth-forms button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.auth-forms button:hover {
    background-color: #4cae4c;
}

#logoutButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #d9534f;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #c9302c;
}

form {
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #4cae4c;
}

#coursesList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.course h3 {
    margin: 0;
    color: #333;
}

.course p {
    margin: 5px 0;
    color: #666;
}

.course img {
    max-width: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

.course button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #5bc0de;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.course button:hover {
    background-color: #31b0d5;
}

.course button:last-child {
    background-color: #d9534f;
}

.course button:last-child:hover {
    background-color: #c9302c;
}
